* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Lato, "Open Sans", sans-serif;
  font-size: 22px;
  color: #333333;
}

img,
a,
.github-pages {
  transition: all 0.3s;
  text-decoration: none;
}

::selection {
  background: #333333;
  color: #fff;
}

@keyframes slide-in-from-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  from,
  to {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
}

#header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 91px;
  width: 100vw;
  background-color: black;
  padding: 0 20px;
  z-index: 1000;
}

#logo-container {
  margin-left: 10vw;
}

#logo {
  height: 75px;
  width: 75px;
}

#logo:hover,
.nav-link:hover,
.project-tile a:hover > .project-image {
  opacity: 0.7;
}

.project-tile a:hover .github-pages {
  opacity: 1;
}

#nav-list {
  width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  font-weight: 100;
}

#welcome-section {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  padding-bottom: 20px;
  /* testing, change background color to white and text color to black */
  background-color: white;
  border-bottom: 2px solid #dddddd;
}

#title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#title-container h2 {
  animation: fade-in 1s linear;
}

#name {
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 25%;
}

#left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
}

#left-side p {
  margin-bottom: 10%;
  margin-left: 60%;
  font-size: 1.5em;
  animation: fade-in 1s ease-in-out 0.1s;
}

#welcome-section h2 {
  font-size: 1.3em;
  font-weight: 150;
  font-style: italic;
  margin-top: 5%;
}

#cursor {
  animation: blink 1s step-end infinite 0.8s; /* Adjust animation duration as needed */
}

#right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide-in-from-right 1s ease-in-out;
}

#skills h2 {
  overflow: hidden;
  font-size: 4em;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 20%;
}

h1 {
  font-size: 3em;
  font-weight: 100;
}

#projects {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  background-color: white;
  position: relative;
}

#projects-section-title {
  background-color: #dddddd;
  width: 50vw;
  height: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100px;
  left: 25%;
}

#projects-section-title h2 {
  background-color: white;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

#projects-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.project-tile {
  margin-top: 5%;
  width: 700px;
  border-top: 20px solid #dddddd;
  border-left: 20px solid #dddddd;
  border-right: 20px solid #dddddd;
  background-color: #333333;
}

.project-image {
  width: 100%;
  object-fit: cover;
}

.project-tile p {
  border-top: 20px solid #dddddd;
  border-bottom: 20px solid #dddddd;
  text-decoration: none;
  color: #dddddd;
  text-align: center;
  padding: 10px;
}

.github-pages {
  background-color: #dddddd;
  color: #333333;
  opacity: 0;
}
